<div class="card card-style h-100">
  <img [src]="'http://localhost:8000/uploads/' + salad.image"
       class="card-img-top rounded-circle img-styles shadow-5-strong"
       alt="Fissure in Sandstone"/>
  <div class="card-body pt-5 d-flex flex-column">
    <h5 class="card-title">{{ salad.title }}</h5>
    <p class="card-text flex-grow-1">{{ salad.description }}</p>
    <p>
      <span>
        {{ salad.price }} сом за кг
      </span>
    </p>
    <button type="button" class="btn btn-outline-dark btn-rounded" data-mdb-ripple-color="dark">Dark</button>
  </div>
</div>
